doctype html
html(lang="fr")
    head
        title impression
    body
        include ../client/impression/template.html
        | <script type='text/javascript'>
        include ../client/impression/index.js
        | </script>
        | <style type='text/css'>
        include ../client/impression/main.css
        | </style>
        